<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <title>Technical Assessment Backoffice - Frontend</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

</head>

<body>
  <div class="container" ng-app="myApp">
  <div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="page-header">
     <!--   <h3>{{ title }}</h3>--->
      </div>
    </div>
  <div class="col-md-4"></div>
    <div ui-view></div> 
  </div>
 
  <!-------------------------------------------------------- Page Login----------------------------------------------->
  <script type="text/ng-template" id="login.html">
  
  
  <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
	    
	  
        <form ng-submit="formSubmit()" class="form">
		
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-facebook"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
		      <label class="form-label" for="form3Example3">Username</label>
            <input ng-model="username" type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter username" />
           </div>
<!---
         <div class="form-outline mb-4">
            <input ng-model="username" type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>
--->
          <!-- Password input -->
          <div class="form-outline mb-3">
		       <label class="form-label" for="form3Example4">Password</label>
            <input type="password" ng-model="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
           </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
			     <span class="text-danger"><br>{{ error }}</span>
        
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#login"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
 
</section>
  
 
  <!---
  
    <div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
       <h4>Silahkan Masukan Username dan Password</h4>
      <form ng-submit="formSubmit()" class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Login</button>
            <span class="text-danger"><br>{{ error }}</span>
          </div>

        </div>
      </form>
    </div>
  <div class="col-md-4"></div>
    <div ui-view></div> 
  </div>
   
   
   
   --->
   
  
  </script>
  <!------------------------------------------------------------------------------------------------------------->
  
  
  
  
  <!-------------------------------------Page Home------------------------------------------------------------------->
  <script type="text/ng-template" id="home.html">
  
  
  
  
  <div class="col-md-12">
    		   <div ng-controller="employeeController">




		 <!------------------------TAB------------------------------------------>
		 
	<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
   <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Input</button>
  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" ui-sref="login" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Logout</button>

</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
  
	  <table cellspacing="2" cellpadding="2" border="1" class="table table-hover">

	    
	<tr>
		<th>ID</th>
		<th>User Name</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Birth Date</th>
		<th>Basic Salary</th>
		<th>Group</th>
		<th>Description</th>
		<th><input type="text" class="form-control input-lg" placeholder="cari sesuatu ..." ng-model="employee">
		</th>
		<th>
		<select class="custom-select custom-select-lg mb-3">
  <option selected>Show</option>
  <option value="1">10</option>
  <option value="2">25</option>
  <option value="3">100</option>
</select>
		</th>
		</tr>
	<tr ng-repeat="employee in listEmployee | filter:employee" >
		<td>{{employee.id}}</td>
		<td>{{employee.username}}</td>
		<td>{{employee.firstName}}</td>
		<td>{{employee.lastName}}</td>
		<td>{{employee.email}}</td>
		<td>{{employee.birthDate}}</td>
		<td>{{employee.basicSalary}} </td>
		<td>{{employee.group}}</td>
		<td>{{employee.description}}</td>
		<td>
			<button href="#" ng-click="del(employee.id)" type="button" class="btn btn-danger">Delete</button><br><br>
			<!-- Button trigger modal -->
<button  href="#" ng-click="selectEdit(employee.id)" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Edit</button><br><br>
<!---------------------------------------------------------------edit------------------------------------------------------------------------------------>
<!-- Modal --> 
<form>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table cellpadding="2" cellspacing="2" >
	<tr>
		<td>id</td>
		<td><input type="text" ng-model="id"  class="form-control" id="validationTooltip01" placeholder="ID Number" value="" required></td>
	</tr><br><br>
	<tr>
		<td>username</td>
		<td><input type="text" ng-model="username"  class="form-control" id="validationTooltip01" placeholder="Username" value="" required></td>
	</tr><br>
	<tr>
		<td>firstName</td>
		<td><input type="text" ng-model="firstName" class="form-control" id="validationTooltip01" placeholder="firstName" value="" required></td>
	</tr><br>
<tr>
		<td>lastName</td>
		<td><input type="text" ng-model="lastName"  class="form-control" id="validationTooltip01" placeholder="lastName" value="" required ></td>
	</tr>
	<tr>
		<td>email</td>
		<td><input type="text" ng-model="email" class="form-control" id="validationTooltip01" placeholder="email" value="" required ></td>
	</tr>
	<tr>
		<td>birthDate</td>
		<td><input type="date" ng-model="birthDate" class="form-control" id="validationTooltip01" placeholder="birthDate" value="" required ></td>
	</tr>
		<tr>
		<td>basicSalary</td>
		<td><input type="text" ng-model="basicSalary" class="form-control" id="validationTooltip01" placeholder="basicSalary" value="" required ></td>
	</tr>
		<tr>
		<td>group</td>
		<td>
	  <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="exampleFormControlSelect1" ng-model="group" value="pilih">
      <option value="group name 1">group name 1</option>
      <option value="group name 2">group name 2</option>
      <option value="group name 3">group name 3</option>
      <option value="group name 4">group name 4</option>
      <option value="group name 5">group name 5</option>
      <option value="group name 6">group name 6</option>
      <option value="group name 7">group name 7 </option>
      <option value="group name 8">group name 8</option>
      <option value="group name 9">group name 9</option>
      <option value="group name 10">group name 10</option>
    </select>
  </div > <div class="valid-tooltip">
        Looks good!
      </div>
   
		</td>
	</tr>
		<tr>
		<td>description</td>
		<td><input type="date" ng-model="description" class="form-control" id="validationTooltip01" placeholder="basicSalary" value="" required ></td>
	</tr>
	<!--<tr>
		<td></td>
		<td><input type="button" value="add" ng-click="add()">
			<input type="button" value="save" ng-click="edit()">
		</td>
	</tr>--->
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" value="save" ng-click="edit()">Save</button>
      </div>
    </div>
  </div>
</div>
 </form>
			
			<!--------------------------------------------------------------------------------------EDIT TOMBOL HOME------------------------------------------------->
			
			<!-------------------------------------------------- Tombol Details home------>
			
			
			<!-- Button trigger modal -->
<button  href="#" ng-click="selectDetails(employee.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
 Details
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Details Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table cellpadding="2" cellspacing="2" >
		
		
		
	<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">ID</label>
    <div class="col-sm-9">
	   <input type="text" readonly class="form-control-plaintext" ng-model="id">
      </div>
  </div>
  
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">User Name</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="username">
      </div>
  </div>
  
 <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">First Name</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="firstName">
      </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Last Name</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="lastName">
      </div>
  </div>
  
   <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="email">
      </div>
  </div>
  
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Birth Date</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="birthDate">
      </div>
  </div>
  
 <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Basic Salary</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="basicSalary">
      </div>
  </div>
  
   <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Group</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="group">
      </div>
  </div>
  
 <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-3 col-form-label">description</label>
    <div class="col-sm-9">
	  <input type="text" readonly class="form-control-plaintext" ng-model="description">
      </div>
  </div>
  
  	
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
       </div>
    </div>
  </div>
</div>
			
			
			
			
			
			<!-----------------------------------batas details tombol----------------------------------------------------------------------->
			
			
			
			
			
			
			
			
			
			
		</td>
	</tr>
</table>

  
  
  
  
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
  </div>
  
  
  
  
  <!-------------------------------------------------------------------------------------------------------------TAB INPUT----------------------------------------->
 <form>
  
 <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
   <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

  
  <div class="container">
   <div class="row">
    <div class="col-6">
	
	 <form class="needs-validation" novalidate>
  <div class="form-row">
  
    <div class="col-md-8 mb-6">
      <label for="validationTooltip01">ID</label>
	  <br>
      <input type="text" ng-model="id" class="form-control" id="validationTooltip01" placeholder="ID Number" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
    <div class="col-md-8 mb-6">
      <label for="validationTooltip02">User Name</label>
      <input type="text"  ng-model="username"  class="form-control" id="validationTooltip02" placeholder="User Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
	<div class="col-md-8 mb-6">
      <label for="validationTooltip02">First Name</label>
      <input type="text"  ng-model="firstName"  class="form-control" id="validationTooltip02" placeholder="First Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
  <div class="col-md-8 mb-6">
      <label for="validationTooltip02">Last Name</label>
      <input type="text"  ng-model="lastName"  class="form-control" id="validationTooltip02" placeholder="Last Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
      <div class="col-md-8 mb-6">
      <label for="validationTooltip02">Email</label>
      <input type="text"  ng-model="email"  class="form-control" id="validationTooltip02" placeholder="Email" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	</div></div>
    <div class="col-6">
	
	 <div class="col-md-8 mb-6">
      <label for="validationTooltip02">birthDate</label>
      <input type="date"  ng-model="birthDate"  class="form-control" id="validationTooltip02" placeholder="date" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
 <div class="col-md-8 mb-6">
      <label for="validationTooltip02">birthDate</label>
  <datepicker ng-model="dt" date-disabled="disabled(date, mode)"></datepicker>  <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	<br>
	   <div class="col-md-8 mb-6">
      <label for="validationTooltip02">Basic Salary</label>
      <input type="number"  ng-model="basicSalary" class="form-control" id="validationTooltip02" placeholder="" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	<br>
	
	 <div class="col-md-8 mb-6">
      <label for="validationTooltip02">Status</label>
      <input type="text"  ng-model="status" class="form-control" id="validationTooltip02" placeholder="" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
	
	<div class="col-md-8 mb-6">
      <label for="validationTooltip02">Group</label>
    <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="exampleFormControlSelect1" ng-model="group" value="pilih">
      <option value="group name 1">group name 1</option>
      <option value="group name 2">group name 2</option>
      <option value="group name 3">group name 3</option>
      <option value="group name 4">group name 4</option>
      <option value="group name 5">group name 5</option>
      <option value="group name 6">group name 6</option>
      <option value="group name 7">group name 7 </option>
      <option value="group name 8">group name 8</option>
      <option value="group name 9">group name 9</option>
      <option value="group name 10">group name 10</option>
    </select>
  </div > <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	<br>
	 <div class="col-md-8 mb-6">
      <label for="validationTooltip02">description</label>
       <input type="date"  ng-model="description"  class="form-control" id="validationTooltip02" placeholder="date" value="" required>
     <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	
	
	<br>
	
  
  <button  ng-click="add()" class="btn btn-primary" type="submit">Submit</button>
  
  <button class="btn btn-danger" type="reset">Clear</button>
  
  
	
	</div>
  </div>
  </div>
  
  
  
  <!---
  
  <form class="needs-validation" novalidate>
  <div class="form-row">
  
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">ID</label>
      <input type="text" ng-model="id" class="form-control" id="validationTooltip01" placeholder="ID Number" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">User Name</label>
      <input type="text"  ng-model="username"  class="form-control" id="validationTooltip02" placeholder="User Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	<div class="col-md-4 mb-3">
      <label for="validationTooltip02">First Name</label>
      <input type="text"  ng-model="firstName"  class="form-control" id="validationTooltip02" placeholder="First Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
  <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Last Name</label>
      <input type="text"  ng-model="lastName"  class="form-control" id="validationTooltip02" placeholder="Last Name" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
      <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Email</label>
      <input type="text"  ng-model="email"  class="form-control" id="validationTooltip02" placeholder="Email" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
   <div class="col-md-4 mb-3">
      <label for="validationTooltip02">birthDate</label>
      <input type="date"  ng-model="birthDate"  class="form-control" id="validationTooltip02" placeholder="date" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	
	   <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Basic Salary</label>
      <input type="number"  ng-model="basicSalary" class="form-control" id="validationTooltip02" placeholder="" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	
	
	 <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Status</label>
      <input type="text"  ng-model="status" class="form-control" id="validationTooltip02" placeholder="" value="" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	
	<div class="col-md-4 mb-3">
      <label for="validationTooltip02">Group</label>
    <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="exampleFormControlSelect1" ng-model="group">
      <option >1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div > <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	 <div class="col-md-4 mb-3">
      <label for="validationTooltip02">description</label>
       <input type="date"  ng-model="birthDate"  class="form-control" id="validationTooltip02" placeholder="date" value="" required>
     <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
	
	
	
	
	
  
  <button  ng-click="add()" class="btn btn-primary" type="submit">Submit</button>
  
  <button  ng-click="add()" class="btn btn-danger" type="reset">Clear</button>
  
  
  
  
  
  <td><input type="button" value="add" ng-click="add()">
			<input type="button" value="save" ng-click="edit()">
		</td>-->
	<!--
	
    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">City</label>
      <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
      <div class="invalid-tooltip">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Zip</label>
      <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<form class="needs-validation" novalidate>
 
	 
	 <div class="mb-3 row">
    <label for="validationTooltip01"  class="col-sm-3 col-form-label">ID</label>
    <div class="col-sm-6">
      <input type="text" id="validationTooltip01" ng-model="id" class="form-control" >
	  <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  
   <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">User Name</label>
    <div class="col-sm-6">
      <input type="text" ng-model="username"  class="form-control" id="">
    </div>
  </div>
  
   <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">First Name</label>
    <div class="col-sm-6">
      <input type="text" ng-model="firstName"  class="form-control" id="">
    </div>
  </div>
  
  
    <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">last Name</label>
    <div class="col-sm-6">
      <input type="text" ng-model="lastName"  class="form-control" id="">
    </div>
  </div>
  
  
 <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label">email</label>
    <div class="col-sm-6">
      <input type="text" ng-model="email"  class="form-control" id="">
    </div>
  </div> 
 
    
<div class="col">
    <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">birthDate</label>
    <div class="col-sm-3">
      <input type="text" ng-model="birthDate"  class="form-control" id="">
    </div>
  </div>
  
  
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">birthDate</label>
    <div class="col-sm-3">
      <input type="text" ng-model="birthDate"  class="form-control" id="">
    </div>
  </div>
  
  
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">basicSalary</label>
    <div class="col-sm-3">
      <input type="text" ng-model="basicSalary"  class="form-control" id="">
    </div>
  </div>
   
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">status</label>
    <div class="col-sm-3">
      <input type="text" ng-model="status"  class="form-control" id="">
    </div>
  </div>
  
   
<div class="mb-3 row">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div
 <div class="dropdown">
  <tr>
		<td>group</td>
		<td>
		<select ng-model="group" value="- Silahkan Pilih - " >
  <option value="a">a</option>
  <option value="b">b</option>
  <option value="c">c</option>
  <option value="d">d</option>
</select>
		
		</td>
		
	</tr>
    </div>
  </div>
  </div>
  
  
  
  
  
<div class="mb-3 row">
    <label for="exampleFormControlTextarea1">description</label>
    <div class="col-sm-3">
  
   <div class="form-group">
    <textarea class="form-control" ng-model="description"  id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>   </div>
  </div>
  
  
  
   </div>
 
</div>
  </div>
  --->
</form>
  
  </div>
  <!-----------------------------------------------------------------------------------------------------------------batas tab input------------------------------>

  </script>
  
  
  <!-------------------------------------------------------------------------------------------------------
  
   <script type="text/ng-template" id="input.html" ng-controller="employeeController">
    <div class="col-md-12">
      <h3>Welcome</h3>
      <h4>Login Berhasil</h4>
	       <a href="#home">Kembali</a>
      <a ui-sref="login">logout</a>
	  <h3>Input Data Produk</h3>


<table cellpadding="2" cellspacing="2" >
	<tr>
		<td>id</td>
		<td><input type="text" ng-model="id" required=""></td>
	</tr>
	<tr>
		<td>Nama Produk</td>
		<td><input type="text" ng-model="name" required=""></td>
	</tr>
	<tr>
		<td>Harga</td>
		<td><input type="text" ng-model="price" required=""></td>
	</tr>
	<tr>
		<td>Banyak</td>
		<td><input type="text" ng-model="quantity" required=""></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="button" value="add" ng-click="add()">
			<input type="button" value="save" ng-click="edit()">
		</td>
	</tr>
</table>
    </div>
  </script>
  
  
  ----->
  
</div></div>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js'></script>
<script src="js/angular.js"></script>
</body>
</html>